#potato {
    width: 60vh;
    height: 60vh;
    image-rendering: pixelated;
    cursor: pointer;
    transition: transform 0.1s linear;
    align-items: center;
    justify-content: center;
    /* user-select: none; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (orientation: portrait) {
    #potato {
        width: 60vw;
        height: 60vw;
    }
}