* {
    image-rendering: pixelated;
    margin: 0%;
    color: beige;
}

.atma-light {
    font-family: "Atma", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .atma-regular {
    font-family: "Atma", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .atma-medium {
    font-family: "Atma", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .atma-semibold {
    font-family: "Atma", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .atma-bold {
    font-family: "Atma", serif;
    font-weight: 700;
    font-style: normal;
  }
  

body {
    padding: 0%;
}

h1 {
    text-align:center;
    -webkit-text-stroke: 2px black;
}

h2 {
    text-align:center;
    font-size:xx-large;
    -webkit-text-stroke: 2px rgb(35, 35, 35);
}
#potato {
    width: 60%;
    height: auto;

    display: block;    
    /* margin: auto; */
    cursor: pointer;
    transition: transform 0.1s linear;
    border: 0px;

    background-color: transparent;
}

#potato img {
    width: 100%;
    height: 100%;
    
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.section {
    width: 33vw;
    height: 100vh;
}

#clickingSpace {
    background-image: url("/img/clickingarea.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    position: fixed;
    z-index: -1;
}

#upgradesSection {
    position: absolute;
    left: 66vw;
    align-items: center;
    background-color: chocolate;
}

.upgrade:nth-child(even) {
    background-color: #333;
}
.upgrade:nth-child(odd) {
    background-color: #2d2c49;
}

.centreChild{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centreParent{
    position: relative;
}

#upgradeButtons button{
    width: 100%;
    height: 20vh;
    font-size: large;

    cursor: pointer;
}

@media screen and (orientation: portrait) {
    .section {
        width: 100vw;
        height: 100vh;
    }

    #upgradesSection {
        position: absolute;
        left: 0;
        top: 100%;
        align-items: center;
        background-color: chocolate;
    }
    body {
        flex-direction: column;
    }
}